{% extends 'layout.html' %}
<!-- Extending the layout file  -->

{% block body %}
<h1><center>Login</center></h1>
<form action="/login" method="post">
  <label for="name">Name</label><br />
  <input
    type="text"
    placeholder="Username"
    name="username"
    autocomplete="off"
  /><br /><br />

  <label for="password">Password</label><br />
  <input
    type="password"
    name="password"
    placeholder="Your Password"
  /><br /><br />

  <input type="submit" name="submit" />
</form>

<p><a href="/">Cancel</a></p>
{% endblock %}
